@media screen and (max-width: 600px) {
    nav {
        height: auto;
    }
    nav li {
        width: 100%;
    }
}
@font-face {
    font-family: "Larsseit";
    src:url(Larsseit.ttf);
    src:url(Larsseit.woff2);
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-logo, .first-word{
    font-size: 24px;
    line-height: 27px;
    font-family: Larsseit;
    font-weight: bold;
    letter-spacing: -0.035em;
    
    color: #62D0DF;
}
/*удалим маркеры и поля и отступы из списка*/
/* ДОБАВИЛ В СЕЛЕКТОРЫ УТОЧНЕНИЕ (НЕ ul, А header nav ul)  */
header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header nav ul li {
    float: left;
    margin: 0 auto;
}


/*ДОБАВЛЯЕМ В DIV FLEX-CONTAINER*/

.nav {
    display: flex;
    justify-content: space-between;
  /*  flex-wrap:nowrap;
    /*flex-direction: row;*/
}


body{
    background-color: #F4F9E2;
    margin-left: 179px;
    margin-right: 131px;
    font-family: Larsseit;
    box-sizing: border-box;

}


nav {
font-size: 14px;
line-height: 16px;
color: #22356F;
flex-direction: row;
text-align: center;
}

a:hover {
    box-shadow: inset 0px -1px 0px #22356F;
    font-weight: bold;
}

a {
    text-decoration: none;
    margin-top: 41px;
    padding: 41px 30px;
}

.feedBackButton {
    font-size: 20px;
    line-height: 16px;
    display: flex;
    align-items: center;

    margin: 20px 30px;
    padding: 20px 30px;

    color: #FFFFFF;

    background: #62D0DF;
    border-radius: 1.5em;
    border: none;
}

h1 {
    font-size: 48px;
    line-height: 53px;
    letter-spacing: -0.035em;

    color: #22356F;
}
.therapists {
    font-size: 24px;
    line-height: 42px;

    color: #22356F;
}
.button_Question_Who {
    font-size: 16px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    padding:10px 30px;
    border: none;

    background: #F9B640;

    color: #FFFFFF;
}
.button_Question_What {
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    background-color: #F4F9E2;
    color: #FAB63E;
    border: none;
}


.buttons {
    border: none;
    display: flex;
    flex-wrap: nowrap;
}
    
