@media screen and (max-width: 600px) {
    nav {
        height: auto;
    }
    nav li {
        width: 100%;
    }
}
@font-face {
    font-family: "Larsseit";
    src:url(Larsseit.ttf);
    src:url(Larsseit.woff2);
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 30px 140px;
    flex-wrap:wrap;

}


.header-logo, .first-word{
    font-size: 24px;
    line-height: 27px;
    font-family: Larsseit;
    font-weight: bold;
    letter-spacing: -0.035em;
    
    color: #62D0DF;
}
/*удалим маркеры и поля и отступы из списка*/
/* ДОБАВИЛ В СЕЛЕКТОРЫ УТОЧНЕНИЕ (НЕ ul, А header nav ul)  */
header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header nav ul li {
    float: left;
    margin: 0 auto;
}

body{
    background-color: #F4F9E2;
    margin-left: 179px;
    margin-right: 131px;
    font-family: Larsseit;
    box-sizing: border-box;

}


nav {
flex-direction: row;
text-align: center;
flex-wrap:nowrap;
}
/*поправил цвет ссылок с nav на (nav ul li a)  */
nav ul li a {
    font-size: 14px;
    line-height: 16px;
    color: #22356F;
    flex-direction: row;
    text-align: center;    
}

a:hover {
    box-shadow: inset 0px -1px 0px #22356F;
    font-weight: bold;
}

a {
    text-decoration: none;
    padding: 7px 15px;
    align-items: center;
}

.header-feedback-button {
    font-size: 20px;
    line-height: 16px;
    display: flex;
    align-items: center;
    padding: 20px 30px;
    color: #FFFFFF;

    background: #62D0DF;
    border-radius: 1.5em;
    border: none;
}

.welcome-words {
    max-width: 472px;
    max-height: 347px;
    margin-bottom: 60px;
}

.welcome-words-subtitle {
    font-size: 48px;
    line-height: 53px;
    letter-spacing: -0.035em;

    color: #22356F;
}
.therapists {
    font-size: 24px;
    line-height: 42px;

    color: #22356F;
}
.info-buttons-who {
    font-size: 16px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    padding:10px 30px;
    border: none;

    background: #F9B640;

    color: #FFFFFF;
}
.info-buttons-what {
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    background-color: #F4F9E2;
    color: #FAB63E;
    border: none;
}


.info-buttons {
    border: none;
    display: flex;
    flex-wrap: nowrap;
    font-weight: bold;
}

    
